/* CSS for puzzle - contains light and dark themes which are seperated as required */

/* Puzzle container - centered */
.puzzle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Full Viewport height to the vertical center */
    text-align: center;
    padding-bottom: 200px;
    padding: 40px;
    margin: 20px 0;
}

/* Puzzle rows & inputs */
.puzzle-row {
    margin-bottom:  20px; /* Allow space between rows */
    width: 100%; /* Allow rows to take all space */
    max-width: 400px; /* Limit the width of the row */
}

.input-row {
    display: grid; 
   grid-template-columns: repeat(3, 1fr);
   gap: 10px;
}

/* Common Input Styles */
.puzzle-input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--secondary); 
    border-radius: 4px;
    text-align: center;
    background-color: var(--secondary);
    color: var(--text);
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

/* Focus - when clicked upon show you are in that box */
.puzzle-input:focus {
    box-shadow: 0 0 5px var(--primary);
    border-color: var(--primary);
    background-color: var(--background);
}



/* RESULTS */
.results-section {
    margin-top: 30px;
    max-width: 600px;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.results-section h2 {
    font-size: 1.8rem;
    color: var(--primary);
}

/* Align the solutions and lists */
.results-section ul {
    list-style-type: none; /* No bullets */
    padding: 0; /* No padding */
    text-align: center;
    margin-top: 20px;
}

.results-section li {
    margin-bottom: 10px;
    font-size: 1.2rem;
}


/* Error message */
.alert {
    max-width: 600px;
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    font-size: 1rem;
    background-color: var(--accent);
    color: var(--background);
    border: 1px solid var(--primary);
    border-radius: 4px;
}

.alert-fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.alert-fade-in-show {
    opacity: 1;
}

.alert-fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.alert-container {
    position: fixed;
    top: 10px; 
    left: 0;
    right: 0;
    z-index: 1050; /* Appears above eveything else */
    margin: 0 auto;
    max-width: 600px;
}