/* Root CSS */

/* All page content wants to be centered - display with the current selected theme*/
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    padding: 20px;
}

/* Styling for headers*/
.content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--primary); /* Primary color for headers for contrast */
}

/* Styling for buttons */
button.btn-primary {
    width: 220px;
    margin: 15px;
    padding: 12px;
    font-size: 1.1rem;
    background-color: var(--primary);
    border: none;
    border-radius: 6px;
    color: var(--background); /* Text colour to contrast with background */
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button.btn-primary:hover {
    background-color: var(--accent); /* On hover change the colour */
    transform: scale(1.05);
    color: var(--background);
}