/********************************
********* LIGHT THEME ***********
********************************/

body.light {
    --background: #fbfbfe;
    --text: #040316;
    --primary: #477709;
    --secondary: #f2f2f2;
    --accent: #93c664;


    --shadow: rgba(0, 0, 0, 0.2);
}

/********************************
********* DARK THEME ***********
********************************/

body.dark {
    --background: #010104;
    --text: #eae9fc;
    --primary: #c7f688;
    --secondary: #3a3a3a;
    --accent: #abff5c;


    --shadow: rgba(255, 255, 255, 0.2);

}

/********************************
********* CUSTOM THEME ***********
********************************/
/* Random css selection */
body.custom {
    --background: #cecea0;
    --text: #000000;
    --primary: #480337;
    --secondary: #f1ecb1;
    --accent: #e0079c;


    --shadow: rgba(0, 0, 0, 0.2);
}



/* Global Styles */
body { 
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

    background-color: var(--background);
    color: var(--text);
}

h1, h2, h3, .btn-primary, .alert {
    font-family: 'Roboto', sans-serif;
    color: var(--primary)
}

p {
    font-family: 'Roboto', sans-serif;
    color: var(--primary)
}
