/********************************
********* LIGHT THEME ***********
********************************/

body.light {
    /* Variables */
    --background: #fbfbfe;
    --text: #040316;
    --primary: #477709;
    --secondary: #f2f2f2;
    --accent: #4fa300;

    /* Global Settings */
    background-color: var(--background);
    color: var(--text);
}

/********************************
********* LIGHT THEME ***********
********************************/

body.dark {
    --background: #010104;
    --text: #eae9fc;
    --primary: #c7f688;
    --secondary: #3a3a3a;
    --accent: #abff5c;

    background-color: var(--background);
    color: var(--text);
}



/* Global Styles */
body { 
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


