/********************************
********* LIGHT THEME ***********
********************************/

/* Body */

body.light {
    background-color: #ffffff;
    color: #333333;
}


/********************************
********* LIGHT THEME ***********
********************************/

/* Body */

body.dark {
    background-color: #333333;
    color: #ffffff;
}
